In [1]:
import numpy as np # linear algebra - is for nerds.
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas import DataFrame, Series
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
# Command so that plots appear in the iPython Notebook
%matplotlib inline

In [2]:
#read in master dataset
df = pd.read_csv('C:/Users/jgles/dawg/Analysis/CFB_Dataset_PROD.csv')
df

,TS_ID,Team,Season,Conference,NatChamp,Playoff,ConfChamp,Heisman,Games,Win,...,Average.T.O.P,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,17,Cincinnati,2013,AAC,0,0,0,0,13,9,...,31:17:00,102,8,13,21,11,17,28,-7,-0.54
1,29,Houston,2013,AAC,0,0,0,0,13,8,...,25:42:00,1,18,25,43,8,10,18,25,1.92
2,42,Louisville,2013,AAC,0,0,0,0,13,12,...,33:49:00,2,11,16,27,6,4,10,17,1.31
3,47,Memphis,2013,AAC,0,0,0,0,12,3,...,30:00:00,107,7,11,18,15,11,26,-8,-0.67
4,76,Rutgers,2013,AAC,0,0,0,0,13,6,...,29:18:00,119,10,8,18,8,22,30,-12,-0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,892,Louisiana,2020,Sun Belt,0,0,0,0,10,9,...,28:03:00,13,6,15,21,5,7,12,9,0.90
966,933,South Alabama,2020,Sun Belt,0,0,0,0,11,4,...,30:22:00,70,7,7,14,9,6,15,-1,-0.09
967,945,Texas St.,2020,Sun Belt,0,0,0,0,12,2,...,25:50:00,82,8,7,15,4,14,18,-3,-0.25
968,948,Troy,2020,Sun Belt,0,0,0,0,11,5,...,26:53:00,93,6,8,14,5,13,18,-4,-0.36
969,954,ULM,2020,Sun Belt,0,0,0,0,10,0,...,27:16:00,112,7,4,11,7,12,19,-8,-0.80

In [3]:
df2 = pd.read_excel('C:/Users/jgles/dawg/Analysis/Budget_Data.xls')
#df2 = df2.rename(columns={"Column1":"Team", "Data":"University"})
#df2 = df2.drop(['IPEDS ID', 'NCAA Subdivision'], axis = 1)
df2

,Data,Column1,IPEDS ID,Year,NCAA Subdivision,FBS Conference,Total Revenues,Total Football Spending,Total Football Coaching Salaries
0,Appalachian State University,NaN,197869,2005,Football Championship Subdivision,NaN,9.382224e+06,2.362471e+06,6.488913e+05
1,Appalachian State University,NaN,197869,2006,Football Championship Subdivision,NaN,1.084609e+07,2.563549e+06,6.950316e+05
2,Appalachian State University,NaN,197869,2007,Football Championship Subdivision,NaN,1.213754e+07,2.546550e+06,8.142890e+05
3,Appalachian State University,NaN,197869,2008,Football Championship Subdivision,NaN,1.472381e+07,4.120545e+06,1.063402e+06
4,Appalachian State University,NaN,197869,2009,Football Championship Subdivision,NaN,1.704545e+07,3.999355e+06,1.097417e+06
...,...,...,...,...,...,...,...,...,...
1630,Western Michigan University,Western Michigan,172699,2015,Football Bowl Subdivision,Mid-American Conference,3.513646e+07,8.199486e+06,2.437374e+06
1631,Western Michigan University,Western Michigan,172699,2016,Football Bowl Subdivision,Mid-American Conference,3.765023e+07,8.577673e+06,3.023705e+06
1632,Western Michigan University,Western Michigan,172699,2017,Football Bowl Subdivision,Mid-American Conference,3.851653e+07,1.030237e+07,2.972669e+06
1633,Western Michigan University,Western Michigan,172699,2018,Football Bowl Subdivision,Mid-American Conference,3.622308e+07,9.197073e+06,2.842445e+06
1634,Western Michigan University,Western Michigan,172699,2019,Football Bowl Subdivision,Mid-American Conference,3.849260e+07,9.752828e+06,3.011578e+06

In [4]:
# We define the years that are included in our original dataset to do the merge.
some_values = 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
df2 = df2.loc[df2['Year'].isin(some_values)]

In [6]:
#df2 = pd.read_excel('C:/Users/jgles/dawg/Analysis/Budget_Data.xls')

def format(x):
        return '${:,.0f}'.format(x)
    
df2 = df2.rename(columns={"Column1":"Team", "Data":"University", "Year":"Season"})
df2 = df2.drop(['IPEDS ID', 'NCAA Subdivision'], axis = 1)
    
   
df2['Total Revenues'] = df2['Total Revenues'].apply(format)
df2['Total Football Spending'] = df2['Total Football Spending'].apply(format)
df2['Total Football Coaching Salaries'] = df2['Total Football Coaching Salaries'].apply(format)

df2.head()

,University,Team,Season,FBS Conference,Total Revenues,Total Football Spending,Total Football Coaching Salaries
8,Appalachian State University,NaN,2013,NaN,"$20,374,209","$5,180,975","$1,544,791"
9,Appalachian State University,NaN,2014,NaN,"$19,683,009","$5,091,053","$1,297,198"
10,Appalachian State University,Applachian State,2015,Sun Belt Conference,"$30,069,643","$6,018,863","$1,639,288"
11,Appalachian State University,Applachian State,2016,Sun Belt Conference,"$31,712,155","$7,466,848","$1,917,795"
12,Appalachian State University,Applachian State,2017,Sun Belt Conference,"$35,058,621","$8,505,084","$2,423,144"

In [16]:
# Now we need to join this df to the previous one on both team and season.

df3 = df.merge(df2, on=['Team', 'Season'], how = 'outer')
df3 = df3.sort_values(by=['Total Football Spending', 'Total Football Coaching Salaries'], ascending=False, na_position='first')
df3

,TS_ID,Team,Season,Conference,NatChamp,Playoff,ConfChamp,Heisman,Games,Win,...,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,University,FBS Conference,Total Revenues,Total Football Spending,Total Football Coaching Salaries
5,77.0,SMU,2013,AAC,0.0,0.0,0.0,0.0,12.0,5.0,...,12.0,12.0,24.0,-7.0,-0.58,NaN,NaN,NaN,NaN,NaN
6,80.0,South Fla.,2013,AAC,0.0,0.0,0.0,0.0,12.0,2.0,...,12.0,16.0,28.0,-4.0,-0.33,NaN,NaN,NaN,NaN,NaN
7,86.0,Temple,2013,AAC,0.0,0.0,0.0,0.0,12.0,2.0,...,8.0,11.0,19.0,-6.0,-0.50,NaN,NaN,NaN,NaN,NaN
9,99.0,UConn,2013,AAC,0.0,0.0,0.0,0.0,12.0,3.0,...,7.0,18.0,25.0,-1.0,-0.08,NaN,NaN,NaN,NaN,NaN
14,189.0,SMU,2014,AAC,0.0,0.0,0.0,0.0,12.0,1.0,...,16.0,14.0,30.0,-14.0,-1.17,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,328.0,UTEP,2015,C-USA,0.0,0.0,0.0,0.0,12.0,5.0,...,13.0,10.0,23.0,-11.0,-0.92,The University of Texas at El Paso,Conference USA,"$30,213,251","$10,057,592","$2,397,580"
598,561.0,Toledo,2017,MAC,0.0,0.0,1.0,0.0,14.0,11.0,...,10.0,9.0,19.0,1.0,0.07,University of Toledo,Mid-American Conference,"$32,925,921","$10,045,855","$2,330,045"
677,652.0,Nevada,2018,MWC,0.0,0.0,0.0,0.0,13.0,8.0,...,11.0,17.0,28.0,-6.0,-0.46,University of Nevada-Reno,Mountain West Conference,"$34,288,266","$10,037,079","$2,114,632"
1249,NaN,Umass,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,University of Massachusetts Amherst,Independent,"$48,081,784","$10,022,417","$1,550,611"
1022,NaN,Fresno,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,California State University-Fresno,Mountain West Conference,"$39,566,684","$10,014,417","$4,024,825"